@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Dancing Script", cursive;
}

.header-1 {
  color: #3030fd;
  text-align: center;
  margin: 0 auto;
  gap: 10px;
  background-color: bisque;
  width: 100%;
  height: 100px;
  font-size: 2rem;
}
.h2 {
  text-align: center;
  align-items: center;
  font-size: 1.9rem;
  margin-top: 1.2rem;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
  font-size: 1.35rem;
  text-align: center;
}

.img {
  width: 100%;
  align-items: baseline;
}
.img-img {
  width: 100%;
  max-width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 0;
}
.img-img:hover {
  transform: scale(1.3);
}
.img-img::after {
  content: "";
  box-shadow: 0 0 0 rgba(0, 255, 0);
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}
.img-img:hover::after {
  box-shadow: 0 10px 20px rgba(0, 255, 0, 0.801), 0 6px 6px rgb(0, 255, 0);
}
/*.img-section {
  margin: 1.5rem;
  background-color: rgba(247, 247, 119, 0.55);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("./images/Speisekarte-Hintergrund.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}*/
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
  max-width: 1400px;
  margin: 2rem auto;
  padding: 20px 10px;
}
